:root {
    --white: white;
    --gray: #eaeaea;
    --green: green;
    --blue: #326cce;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--gray);

    --white: var(--white);
    --gray: var(--gray);
    --green: var(--green);
    --blue: var(--blue);
}

.test {
    background: var(--gray);
    display: flex;
}
